<!DOCTYPE html>
<html>
<head>
<title>Subir un Archivo: </title>
</head>
<body>

<h1>Listado de pacientes</h1>
    <br>
    <table id="tablaInformes" class="table-hover">
		  <thead>
		    <tr>
		      <th scope="col">idInforme</th>
		    </tr>
		  </thead>
		  <tbody>
                {% for informe in informes %}
                    <tr>
                        <td><a href="/return-files"  target="blank" name="archivo"><button class='btn btn-default'> {{informe._idInforme}}</button></a></td> </tr>
                {% endfor %}
		  </tbody>
		</table>

</form>


</body>
</html>



