{% extends 'index.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paciente.css') }}">
{% endblock %}

{% block content %}
    <h1>Analisis de un informe </h1>

    {% if ticket["state"] == 'SUCCESS' %}
        <option value={{paciente._id}}>{{paciente.Nombre}}, {{paciente.Apellidos}}</option>
    {% else %}
    <h3>Analizando el fichero. Vaya a la pestaña de informes </h3>

    {% endif %}

{% endblock %}

{% block js %}
        <script src="{{ url_for('static', filename='js/plotlyExampleJS.js') }}"></script>
{% endblock %}